# Environment variables
backend/.env

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# IDE specific
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/