# Default ignored files
/../../T.E.N.S.O.R./.idea/shelf/
/../../T.E.N.S.O.R./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../T.E.N.S.O.R./.idea/httpRequests/
# Datasource local storage ignored files
/../../T.E.N.S.O.R./.idea/dataSources/
/../../T.E.N.S.O.R./.idea/dataSources.local.xml
/../../T.E.N.S.O.R./.idea/*